{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freelance</title>


    <link rel="stylesheet" type="text/css" href=" {% static 'style1.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,600,800" rel="stylesheet">
<body>
    <div class="hero">
        <nav>
            <div class="container navi">
                <div class="logo">freelance</div>
                <a href="signup.html" class="signup">sign up</a>
                <a href="login.html" class="login">log in</a>
            </div>
        </nav>
        <div class="about container">
                <div class="bout">
                        <h1>Hire expert freelancers for any job, online</h1>
                        <p>A pool of professional developers and designers passionate to get your work done</p>
                </div>
                <a href="projects.html"><button class="btn">Post a project</button></a>
                <button class="btn prodo">work on a project</button>
        </div>
    </div>
    <div class="showcase container">
        <h1>Here are skr some of our most popular projects:</h1>
        <div class="img img1"></div>
        <div class="img img2"></div>
        <div class="img img3"></div>
        <div class="img img4"></div>
        <div class="img img5"></div>
        <div class="img img6"></div>
    </div>
    <div class="footer">Freelancer ® is a registered Trademark of Freelancer Technology Pty Limited (ACN 142 189 759)Copyright © 2019 Freelancer Technology Pty Limited (ACN 142 189 759)</div>
</body>
</html>